/* Login.css */

/* LoginPage.css */

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-image: url('https://static.vecteezy.com/system/resources/previews/051/071/330/non_2x/abstract-horizontal-watercolor-dark-cloud-background-hand-drawn-texture-brush-stroked-painting-pastel-color-watercolour-vector.jpg'); /* Add your image to public/images */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #72aff4;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #6948ec;
  }
  .login-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  
  .login-message {
    text-align: center;
    color: #2e7d32;
    font-weight: 500;
  }
  